body {
    background: #19589A;
    font-family: 'PT Sans', 'Arial Black', sans-serif;
    margin: 0;
    padding: 0;
    -ms-hyphens: auto; /*Hyphens: Texte werden sinvoll ge-teilt*/
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

/*HEADER*/
header {
    background-color: #0E437A;
    background-size: cover;
    width: 100%;
    font-family: 'Indie Flower', cursive;
    opacity: 0.95;
    position: fixed;
    top: 0;
    z-index: 100;
    color: #5987B7;
}

div.logo {
    padding-top: 1em;
    padding-left: 7%;
    float: left;
}

img.logo {
    transform: rotate(-8deg);
    padding-right: 0.3em;
    padding-bottom: 0.1em;
}

a.logo {
    padding-left: 0.5em;
    padding-top: 0.3em;
    font-size: 200%;
    float: left;
    color: #f6f6f6;;
    font-family: 'Indie Flower', cursive;
    overflow: visible;
}

/*NAVIGATION*/

nav {
    font-size: 1.5em;
    margin-top: 0.5em;
    width: auto;
    text-align: right;
    padding-right: 1.5em;
    float: right;
}

ul#top {
    display: block;
    list-style: none;
}

.top {
    display: inline;
    padding-left: 0.1em;
}

/*MAIN*/
main {
    background-color: #f6f6f6;
    font-size: 1em;
    margin: 6em 6em 0em;
    padding: 2em;
    text-align: left;
}

h2 {
    font-family: 'Indie Flower', cursive;
    /*font-family: 'Cinzel', serif;*/
    margin-top: 0;
    font-size: 2em;
}

/*INDEX*/

.text-box {
}

#sidebar-right {
    padding: 0.5em 0.5em 0.5em 2em;
    margin-left: 2em;
    width: 15em;
    border-left: black solid 7px;
    float: right;
    margin-bottom: 2em;
}

#group {
    width: 45%;
    max-height: 30% ;
}

.square {
    list-style-type:square;
}

/*RULES*/

div#textwrapper {
    margin-left: 16em;
    padding-right: 3em;
}

.sidebar {
    color: black;
    position: fixed;
    float: left;
}

/*HISTORY*/

#arrow {
    float: left;
}

.arrow-bar {
    list-style: none;
}

.years {
    text-align: center;
    font-size: 5em;
}

/*IMPRESSUM*/

.impressum {
    padding-left: 2em;
    padding-bottom: 1.5em;
    Padding-right: 2em;
}

/*FOOTER*/
footer {
    color: white;
    font-family: 'Indie Flower', cursive;
    background-color: #063260;
    padding-bottom: 1.5em;
    text-align: center;
}

.bot {
    color: #FFBF00;
}

#logo-footer {
    float: right;
    margin-right: 9%;
}

figcaption {
    display: block;
}

#to-top {
    font-size: 4em;
    float: left;
    padding-left: 2em;
}


/*STUFF*/
a {
    text-decoration: none;
}

.textgrey {
    color: grey;
}
.black {
    color: black;
}

.white {
    color: #f6f6f6;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border: 0.2em solid white;
}
