body {
    background: #4A6B8A; /*TODO*/
    margin: 0;
    padding: 0;
    -ms-hyphens: auto; /*Hyphens: Texte werden sinvoll ge-teilt*/
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

/*HEADER*/
header {
    /*TODO*/
    background: url("../photos/cover.jpg") no-repeat 0 -620px;
    background-size: cover;
    width: 100%;
    font-family: 'Khula', serif; /*TODO*/
    opacity: 0.95;
    position: fixed;
    top: 0;
    z-index: 100;
}

div.logo {
    padding-top: 1em;
    padding-left: 7%;
    float: left;
}

img.logo {
    transform: rotate(-8deg);
    float: left;
    padding-right: 0.3em;
    padding-bottom: 0.1em;
}

a.logo {
    padding-left: 0.5em;
    padding-top: 0.3em;
    font-size: 2.5em;
    text-shadow: 2px 2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000, -2px -2px 2px #000;
    float: left;
    color: #FFFFF1;
    font-family: 'Indie Flower', cursive;
    overflow: visible;
}

/*NAVIGATION*/

nav {
    font-size: 1.5em;
    margin-top: 0.5em;
    width: auto;
    text-align: right;
    padding-right: 1.5em;
    float: right;
}

ul#top {
    display: block;
    list-style: none;
}

.top {
    display: inline;
    padding-left: 0.1em;
}

/*Schriftart Header*/
span {
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000, -2px -2px 2px #000;
    color: #A4B7CA;
}

/*MAIN*/
main {
    background-color: #f6f6f6;
    font-family: 'Gentium Basic', serif;
    font-size: 1.2em;
    margin: 6em 6em 2em;
    padding: 2em;
    text-align: left;
}

h2 {
    font-family: 'Cinzel', serif;
    margin-top: 0;
}

/*INDEX*/

.text-box {
}

#sidebar-right {
    padding: 0.5em 0.5em 0.5em 2em;
    margin-left: 2em;
    width: 15em;
    border-left: black solid 7px;
    float: right;
    margin-bottom: 2em;
}

#group {
    width: 45%;
    max-height: 30% ;
}

.square {
    list-style-type:square;
}

/*RULES*/

div#textwrapper {
    margin-left: 16em;
    padding-right: 3em;
}

.sidebar {
    color: black;
    position: fixed;
}

/*HISTORY*/

#arrow {
    float: left;
}

.arrow-bar {
    list-style: none;
}

.years {
    text-align: center;
    font-size: 5em;
}

/*IMPRESSUM*/

.impressum {
    padding-left: 2em;
    padding-bottom: 1.5em;
    Padding-right: 2em;
}

/*FOOTER*/
footer {
    color: white;
    font-family: 'Khula', serif;
    text-align: center;
    background-color: #133253;
    padding-bottom: 1em;
    padding-top: 1em;
}

ul#bot {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.bot {
    display: inline;
}

ul#bot a {
    color: #FFBF00;
    text-decoration: none;
}

/*STUFF*/
a {
    color: white;
    text-decoration: none;
}

.textgrey {
    color: grey;
}
.black {
    color: black;
}
